@keyframes antoha{
    0%{background-color: red;}
    16%{background-color: orange;}
    33%{background-color: yellow;}
    50%{background-color: green;}
    66%{background-color: cyan;}
    83%{background-color: blue;}
    100%{background-color: violet;}
}
.a1{
    width: 200px;
    height: 200px;
    background-color: red;
    animation: antoha 3s linear 0s infinite normal;
    margin-left: 100px;
}

@keyframes antonvert{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.a2 {
    width: 200px;
    height: 200px;
    animation: antonvert 0.05s linear 0s infinite normal;
    margin-left: 100px;
}

.a3 {
    width: 200px;
    height: 200px;
    animation: antonpuls 0.05s linear 0s infinite alternate;
    margin-left: 100px;
}

@keyframes antonpuls {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.a4 {
    width: 200px;
    height: 200px;
    animation: antonride 0.8s linear 0s infinite alternate;
}

@keyframes antonride {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(1700px);
    }
}

.a5 {
    width: 100px;
    height: 100px;
    animation: antonroad 3s linear 0s infinite normal;
}

@keyframes antonroad {
    0%{transform: translateX(0px);}
    25%{transform: translateX(700px) rotateZ(90deg);}
    50%{transform: translate(700px, 700px)rotateZ(180deg);}
    75%{transform: translate(0px, 700px)rotateZ(270deg);}
    100%{transform: translate(0px, 0px)rotateZ(360deg);}
}

.road{
    width: 800px;
    height: 800px;
    border: 3px solid black;
    background: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 17, 255), rgb(255, 238, 0), rgb(255, 0, 200));
    background-size: 200% 200%;
    animation: gradientanton 1s ease infinite;
}
@keyframes gradientanton{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}